fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

demucs
librosa
soundfile
numpy
scipy

langchain
langchain-core
langchain-google-genai
langchain-anthropic
langchain-openai

boto3
supabase
